#map-canvas {
  width: 100%;
  height: 250px;
}
.col-left-side,
.col-right-side {
  padding: 40px;
}
.contact-details .hentry {
  margin-bottom: 35px;
}
.contact-details address {
  position: relative;
  margin-bottom: 50px;
  padding-top: 6px;
  padding-left: 25px;
  font-size: 15px;
  color: #020202;
}
.contact-details address a {
  color: #020202;
}

.contact-details .list-title {
  margin-bottom: 15px;
  font-size: 21px;
}
.contact-details .fa-map-marker {
	color:#e52028;
  font-size: 21px;
  position: absolute;
  top: 8px;
  left: 0;
}
.contact-form input:not([type="submit"]),
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid;
}
.contact-form input.error,
.contact-form textarea.error {
  outline: 2px solid;
}
.contact-form textarea {
  min-height: 150px;
}
.contact-form #error-container {
  margin-top: 20px;
}
#submit-button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.contact-form-heading {
	color:#fff;
  margin-bottom: 30px;
  font-size: 20px;
}
#ajax-loader {
  margin: 14px 15px;
}
#ajax-loader,
#message-container,
#error-container {
  display: none;
}
#error-container label {
  display: block;
}
.fa-map-marker:before {
  margin-left: 1px;
}
.contacts-list {
	color:#646565!important;
  list-style: none;
  margin: 0 0 25px;
  padding: 0;
}
.contacts-list > li {
  padding: 6px 0;
}
.contacts-list .icon-clock {
  position: relative;
  padding-left: 22px;
}
.contacts-icon-container {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  vertical-align: -2px;
}
.icon-clock .contacts-icon-container {
	margin-right: 0;
	vertical-align: 0;
	position: absolute;
	left: 0px;
	top: 4px;
}
@media (min-width: 1200px) {
  .col-left-side {
    padding: 45px 50px;
  }
  .col-right-side {
    padding: 45px 62px 65px;
  }
}
@media (min-width: 992px) {
  #map-canvas {
    height: 350px;
  }
}
@media (min-width: 1200px) {
  #map-canvas {
    height: 590px;
  }
}

li.phone a{
	
	color:#646565;
	
}
li.email a{
	
	color:#646565;
	
}

li.email a:hover{
	
	color:#e52028;
	
}